%h1 Ticketing
%table
  %thead
    %tr
      %th Name
      %th Open Tickets
      %th Total Tickets
  %tbody
    %tr
      %td
        = link_to 'Example Project', '#'
        %p example description...
      %td 42
      %td 42
%div= link_to 'New Project', '#'
